<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="peoplesolutions.com.minhapassagem">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/minhapassagem_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/minhapassagem_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BugReport"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ForTest" />
        <activity android:name=".Manutencao" />
        <activity android:name=".Release_Notes" />
        <activity android:name=".SavedData" />
        <activity
            android:name=".Preferencias"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".InfoApplication"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Personalized"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SaldoRest"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SabadoDiaUtil"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MenuDirect" />
        <activity
            android:name=".SecondActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>